api/bin/Debug/net8.0/api.deps.json
api/bin/Debug/net8.0/api.dll
api/bin/Debug/net8.0/api.exe
api/bin/Debug/net8.0/api.pdb
api/bin/Debug/net8.0/api.runtimeconfig.json
api/bin/Debug/net8.0/appsettings.Development.json
api/bin/Debug/net8.0/appsettings.json
api/bin/Debug/net8.0/Azure.Core.dll
api/bin/Debug/net8.0/Azure.Identity.dll
api/bin/Debug/net8.0/Humanizer.dll
api/bin/Debug/net8.0/Microsoft.AspNetCore.JsonPatch.dll
api/bin/Debug/net8.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
api/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
api/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
api/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
api/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
api/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
api/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
api/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
api/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
api/bin/Debug/net8.0/Microsoft.Identity.Client.dll
api/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
api/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
api/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
api/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
api/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
api/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
api/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
api/bin/Debug/net8.0/Microsoft.OpenApi.dll
api/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
api/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
api/bin/Debug/net8.0/Mono.TextTemplating.dll
api/bin/Debug/net8.0/Newtonsoft.Json.Bson.dll
api/bin/Debug/net8.0/Newtonsoft.Json.dll
api/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
api/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
api/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
api/bin/Debug/net8.0/System.CodeDom.dll
api/bin/Debug/net8.0/System.Composition.AttributedModel.dll
api/bin/Debug/net8.0/System.Composition.Convention.dll
api/bin/Debug/net8.0/System.Composition.Hosting.dll
api/bin/Debug/net8.0/System.Composition.Runtime.dll
api/bin/Debug/net8.0/System.Composition.TypedParts.dll
api/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
api/bin/Debug/net8.0/System.Drawing.Common.dll
api/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
api/bin/Debug/net8.0/System.Memory.Data.dll
api/bin/Debug/net8.0/System.Runtime.Caching.dll
api/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
api/bin/Debug/net8.0/System.Security.Permissions.dll
api/bin/Debug/net8.0/System.Windows.Extensions.dll
api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
api/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
api/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
api/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
api/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
api/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
api/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
api/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
api/Data/database_log.ldf
api/Data/database.mdf
api/Data/Entropy.bin
api/Data/master.mdf
api/Data/mastlog.ldf
api/Data/model_msdbdata.mdf
api/Data/model_msdblog.ldf
api/Data/model_replicatedmaster.ldf
api/Data/model_replicatedmaster.mdf
api/Data/model.mdf
api/Data/modellog.ldf
api/Data/msdbdata.mdf
api/Data/msdblog.ldf
api/Data/tempdb.mdf
api/Data/tempdb2.ndf
api/Data/tempdb3.ndf
api/Data/tempdb4.ndf
api/Data/tempdb5.ndf
api/Data/tempdb6.ndf
api/Data/tempdb7.ndf
api/Data/tempdb8.ndf
api/Data/templog.ldf
api/log/errorlog
api/log/errorlog.1
api/log/errorlog.2
api/log/errorlog.3
api/log/HkEngineEventFile_0_133653108237130000.xel
api/log/HkEngineEventFile_0_133653131298770000.xel
api/log/HkEngineEventFile_0_133653833464600000.xel
api/log/log_1.trc
api/log/log_2.trc
api/log/log.trc
api/log/sqlagentstartup.log
api/log/system_health_0_133653108297480000.xel
api/log/system_health_0_133653131499580000.xel
api/log/system_health_0_133653833505670000.xel
api/obj/api.csproj.EntityFrameworkCore.targets
api/obj/api.csproj.nuget.dgspec.json
api/obj/api.csproj.nuget.g.props
api/obj/api.csproj.nuget.g.targets
api/obj/project.assets.json
api/obj/project.nuget.cache
api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
api/obj/Debug/net8.0/api.AssemblyInfo.cs
api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
api/obj/Debug/net8.0/api.assets.cache
api/obj/Debug/net8.0/api.csproj.AssemblyReference.cache
api/obj/Debug/net8.0/api.csproj.CoreCompileInputs.cache
api/obj/Debug/net8.0/api.csproj.FileListAbsolute.txt
api/obj/Debug/net8.0/api.csproj.Up2Date
api/obj/Debug/net8.0/api.dll
api/obj/Debug/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
api/obj/Debug/net8.0/api.genruntimeconfig.cache
api/obj/Debug/net8.0/api.GlobalUsings.g.cs
api/obj/Debug/net8.0/api.MvcApplicationPartsAssemblyInfo.cache
api/obj/Debug/net8.0/api.MvcApplicationPartsAssemblyInfo.cs
api/obj/Debug/net8.0/api.pdb
api/obj/Debug/net8.0/apphost.exe
api/obj/Debug/net8.0/staticwebassets.build.json
api/obj/Debug/net8.0/ref/api.dll
api/obj/Debug/net8.0/refint/api.dll
api/obj/Debug/net8.0/staticwebassets/msbuild.build.api.props
api/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.api.props
api/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.api.props
api/secrets/machine-key
api/api.http
